<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yy-MM-dd HH:mm:ss,SSS} %-5p %c(%F:%L) ## %m%n" />
        </layout>
    </appender>
  	<appender name="railyFile" 
  		class="org.apache.log4j.RollingFileAppender">
  		<param name="File" value="logs/softwareLog.log"
  		    ></param>
  		<param name="ImmediateFlush" value="true"/>
  		<param name="Threshold" value="info"></param>
  		<param name="Append" value="true"></param>
  		<param name="MaxFileSize" value="100KB"></param>
  		<param name="MaxBackupIndex" value="100"></param>
  		<layout class="org.apache.log4j.PatternLayout">
  			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%t] {%c:%L}-%m%n"></param>
  		</layout>
  	</appender>
    <logger name="org.apache" additivity="false">
        <level value="warn" />
        <appender-ref ref="stdout" />
    </logger>

    <root>
        <level value="info" />
        <appender-ref ref="stdout" />
        <appender-ref ref="railyFile" />
    </root>

</log4j:configuration>
